<div class="container"id="signupLoginForm">
<% if flash[:alert] %>
   <div class="alert alert-danger" style="text-align:center;">
     <span class="error"><%= flash[:alert] %></span>
   </div>
<% end %>
  <div id="innerSignup">
    <h1 style="text-align:center;">Log In</h1>
    <%= form_tag sessions_path do |form| %>
      <div class="field form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class:"form-control" %>
      </div>
      <div class="field form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class:"form-control" %>
      </div>
      <div class="actions">
        <%= submit_tag "Login", class:'btn btn-primary' %>
      </div>
    </div>
</div>
<% end %>